body { background-color: white; text-color: black }
h1 { font-family: Arial; text-align: center }
h2 { font-family: Arial; color: blue }
h3 { font-family: Arial; font-size: medium; }
h4 { font-family: Arial; color: purple }

.java { font-family: "Courier New"; font-size: 90%; }
.option { font-family: Arial; font-size: 90%; font-weight: bold; }
.fileSystem { font-family: Verdana, Arial; font-size: 80%; color: "#003399"; }
.important { font-weight: bold; }
.term { font-weight: bold; font-style: italic; }
