/*  CS 150 css for Spring 2015    */
@page {
	margin: .5in;
}

#page {	width: 100%; margin: 0;	}

#chapterTitle {
	text-shadow: none;
	color: black;
}

#chapterSubtitle {
	text-shadow: none;
	color: black;
}


div.exercise { display: none; }

img.right
{
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

div.syntaxbox, div.consoleDisplay {
	border: 2px solid gray;
	box-shadow: none;
}

pre { 
	box-shadow: none;
	border: 1px solid silver;
	border-left: 5px solid silver;
	overflow: hidden!important;
}
