/*  CS 150 css for Spring 2015    */
#page {
	width: 80%;
	max-width: 768px;
	min-width: 550px;
	margin: auto;
	margin-bottom: 30px;
	padding: 1em;
	padding-right: 2em;
	box-shadow: 5px 5px 10px 5px #CCC;
}
div.highlight {
	padding: 0 2em 0 2em;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px #CCC;
	background-color: honeydew;
}
div.highlight p {
	padding-top: 5px;
	padding-bottom: 10px;
}
#ref-header {
	height: 30px;
	width: 100%;
	background-color: navy;
	position: fixed;
	margin: 0;
	top: 0px;
	left: 0px;
	font-family: handwriting, cursive;
	font-size: 22px;
	padding-left: 2em;
	padding-top: 4px;
	color: white;
	z-index: 100;
}
img.right
{
	border-radius: 5px;
	box-shadow: 5px 5px 10px #aaa;
}

img.right.plain
{
	border-radius: none;
	box-shadow: none;
}

pre
{
	border-radius: 5px;
	box-shadow: 5px 5px 10px #999;
}

li pre
{
	border-left: 1px solid silver;
	padding-left: 2em;
	border-radius: 0;
	box-shadow: none;
}
