/**
	Steve Gilbert
	Syllabus Fall 2013.
	Based partly on Twitter Bootstrap
*/
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Crete+Round|Delius');
body {
    color: black;
    background-image: url(images/background.jpg);
    font-family: "verdana",helvetica,sans-serif;
    margin: 0;
    padding: 0;
	line-height: 133%;
}

#container {
	width: 750px;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 1em;
	padding: 0 4em 0 4em;
	background-color: white;
	border: 1px solid silver;
	border-radius: 5px;

}

#what, #how, #resources, #policies {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #99CC99;
}

#grades {
	margin: auto;
	width: 80%;
	box-shadow: 3px 3px 6px #CCC;
}

div, p, th, td, li, dd, dl, dt    {
     /* redundant selectors to help NS4 not forget */
    font-family: delius,helvetica,sans-serif;
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6{
    color:forestgreen;
    font-family: 'Cabin Condensed','Crete Round';
}

h3 {
	border-bottom: 1px dotted silver;
	width: 75%;
	font-size: 130%;
}

li {
	margin-bottom:.5em;
}

blockquote {
	border-left: 4px silver solid;
	padding-left: 1em;
	width: 85%;
	margin-left: 1em;
}

blockquote > p {
	font-style: italic;
	font-family: georgia, serif;
}

code {
	font-family: consolas, monaco, andale mono, courier, monospaced;
	font-size: 1.1em;
	font-weight: bold;
	color: navy;
}

.nav {
	padding: .5em;
	margin-top: 5px;
	border-bottom: 1px solid silver;
}

img.left {
	float: left;
	margin: 15px;
	margin-left: 0;
}
img.border {
	padding: 5px;
	border: 1px solid silver;
}

img.centered {
	display: block;
	margin: auto;
	width: 85%;
}

img.p50 { width:50px; }
img.p75 { width:75px; }
img.p100 { width:100px; }
img.p125 { width:125px; }
.right { float: right; }
.left { float: left; }

.summary {
	background-color: white;
	width: 90%;
	margin: 1em;
	margin: auto;
	padding: .2em 2em .2em 2em;
	border: 1px solid silver;
	border-radius: 5px;
	box-shadow: 3px 3px 6px #CCC;
}

.summary > p {
	font-family: georgia, garamond, serif;
	font-style: italic;
}

.footer {
	margin: auto;
	font-size: .7em;
	text-align: center;
	color: #70777;
	padding: 1em 0 2em 0;
	border-top: 1px solid silver;
	line-height: 110%;
}

.shadow {
	-moz-box-shadow: 6px 6px 12px #666;
	-webkit-box-shadow: 6px 6px 12px #666;
	box-shadow: 6px 6px 12px #666;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}


a:link, a:visited, a:hover, a:active {
	color: navy;
	text-decoration: none;
	border-bottom: 1px dashed red;
}

a:hover {
	font-weight: bold;
	color: forestgreen;
}

/* Twitter label stuff */
.label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-family:verdana;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #367DA1;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.label:empty {
  display: none;
}

a.label:link,
a.label:visited,
a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-active {
	/*background-color: #767676;*/
	display: none;
}
.label-important {
  background-color: #b94a48;
}

.label-important[href]{
  background-color: #953b39;
}

.label-warning {
  background-color: #EB0023;
}

.label-warning[href] {
  background-color: #B8001C;
}

.label-success {
  background-color: #438443;
}

.label-success[href] {
  background-color: #356635;
}

.label-info {
  background-color: #367DA1;
}

.label-info[href] {
  background-color: #2d6987;
}

.label-inverse {
  background-color: #333333;
}

.label-inverse[href] {
  background-color: #1a1a1a;
}

a.label-top {
	float: right;
	background-color:  #CCC;
	border: none;
}


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-white {
  background-image: url("images/glyphicons-halflings-white.png");
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

tr:hover {
	background-color: #333;
	color: white;
}

td.weekno {
	font-family:'cabin condensed';
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: white !important;
	color: gray;
}
td.week {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

@media print {
	td {
		background-color: white !important;
	}
}

.tc { text-align: center !important; }


