/*  CIS 223 Unit 01
    Layout based on Creating Liquid Layouts with Negative Margins
    by Ryan Brill, Jun 15, 2004
    http://www.alistapart.com/articles/negativemargins/
*/
body, html {
    margin:0;
    padding:0;
    font-size: medium;
    font-family: georgia, palantino, serif;
}

#content {
    width: 500px;
    margin: auto;
    padding: 15px;
    border-right: 1px solid silver;
    border-left: 18px solid honeydew;
}

#header {
    width: 548px;
    margin: auto;
    margin-top: 10px;
    height: 90px;
    padding: 0;
    padding-bottom: 3px;
    text-align: right;
    border-right: 2px solid silver;
    border-bottom: 2px solid silver;
}

#header h1, h2, h3 {
    padding: 0;
    margin:0;
    margin-right: 10px;
}

#header img {
    float:left;
    margin-top: -10px;
    margin-bottom: -20px;
    height: 115px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: geneva, "trebuchet ms", sans-serif;
    color: navy;
    margin-left: -1em;
}

p.firstPara {
    padding-top: 1em;
}

p.firstPara:first-letter {
    font:bold 300% geneva, 'trebuchet ms' sans-serif;
    color: gray;
    float: left;
    margin-right: .1em
}

p.firstPara:first-line {
    font-weight: bold;
    font-size: larger;
}

ul li {
    margin-bottom: .5em;
    margin-right: 2em;
}

img.floatright {
    float: right;
    margin: 0 -3em 1em 1em;
}

img.floatleft {
    float: left;
    margin: 0 1em 1em -3em;
}

.lecture {
    text-decoration: none;
}

a
{
    color: #0066FF;
    text-decoration: none;
}

a:hover
{
    color:#009900;
    font-weight:bold;
    background: honeydew;
}

#footer {
    margin: 4em -4em 0 -4em;
    border-top: 1px solid silver;
    color: silver;
    font-size: x-small;
}
