h1 {
    color:blue;
}

#content {
    width:700px;
    margin: auto;
    padding: 2em;
    border: 1px dashed grey;
}


#submit {
    font-size: 24pt;
    font-weight: bold;
    margin: .5em;
}

.title {
    font-size: 18pt;
    color: forestgreen;
    text-shadow: 2px 2px 2px #DDD;
    font-style: italic;
    font-family: georgia, serif;
}

.quiz-results {
    width: 85%;
    margin: auto;
    padding: 1em;
    border: 2px dashed #ddf;
}
