@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
#page
{
	max-width: 65ch;
    margin-left: 40px;
    margin-right: 20px;
	margin-bottom: 40px;
    text-align:left;
    font-size: 1.1em;
	font-family: georgia, serif;
	line-height: 133%;
}
#footer
{
	height:75px;
    border-top:1px solid silver;
	margin-top: 2em;
    padding-top:1em;
    font-size: 10px;
    color: silver;
    text-align: center;
	line-height:120%;
}
#footer p {
	max-width:70%;
	margin:auto;
}

body {
	overflow:auto !important;
}
h1, h2 {
	color: #0066AA;
}
h1 {
	padding-bottom: 4px;
	border-bottom: 1px solid silver;
}

h3.i {
	background: ivory;
	color: forestgreen;
	margin-bottom: 0;
	border-bottom: 1px dotted silver;
}

h3.i ~ p {
	margin-left:.5em;
	margin-top: 10px;
}
p.firstLine:first-line {
	margin-top: 0px;
	font-weight: bold;
}
pre, tt, kbd, code
{
	font-family: code, consolas, monospace !important;
	font-weight: bold;
}

tt.i {
	font-style: italic;
}
tt.t, span.t {
	color:teal;
}
tt.r, span.r {
	color:red;
}
tt.b, span.b {
	color: #0066AA;
}
tt.y {
	background: yellow;
}

.teal {
	color:teal;
}
.red {
	color:red;
}
.blue {
	color: #0066AA;
}
ul li, ol li {
	margin-bottom: .5em;
}

kbd { font-weight: bold; color: darkslategray;}
tt { font-weight: bold; color: navy;}

img.right
{
    margin-left: 15px;
    margin-right: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.width-128 { width: 128px; }
.width-96 { width: 96px; }
.width-64 { width: 64px; }
.width-32 { width: 32px; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }
.width-60 { width: 60%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-90 { width: 90%; }
.width-100 {width: 100%; }

mark {
	font-weight: bold;
}

div.caption {
	font-style:italic;
	font-size:85%;
	margin:auto;
	line-height:115%;
}
div.highlight {
	padding: .05em 1.5em .05em 1.5em;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px #CCC;
	background-color: honeydew;
	font-style: italic;
	font-size: 90%;
}

div.highlight.alert {
	background-image: url(images/alert-icon.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 10px 10px;
	z-index: 200;
	padding-left: 3.5em;
	background-color:#FDEBD0;
}
div.highlight.info {
	background-image: url(images/info.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 10px 10px;
	z-index: 200;
	padding-left: 3.5em;
	background-color:aliceblue;
}
img.inlineCenter {
    margin:1em;
	margin-left:auto;
	margin-right:auto;
    display:block;
    clear:both;
}

code.language-cpp, code.language-clike {
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
	margin-top:0;
	margin-bottom:0;
}
pre.language-cpp, pre.language-clike {
	/* width: 90%; */
	margin-left: 0;
	overflow:hidden;
	box-shadow: 3px 3px 6px 3px #CCC;
	border-radius: 5px;
}


pre.line-numbers {
	width: 90%;
	overflow:hidden;
	height: 105%;
}
div.exercise {
	background-image: url(images/exercise.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 10px 10px;
	z-index: 200;
	padding-left: 3em;
}
div.bug {
	margin-top: 1em;
	border: 1px dotted silver;
	background-image: url(images/bug-icon.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 10px 10px;
	z-index: 200;
	max-width: 80%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px #CCC;
	padding-left: 3em;
	padding-right: 2em;
}

div.bug pre {
	box-shadow: none;
	border-radius: none;
	padding: 0;
}

a {
	color: gray;
	text-decoration: none;
	border-bottom: 1px dotted silver;
}
a.plain {
	text-decoration: none;
	border-bottom: none;
}
a:hover {
	color: darkred;
}

blockquote {
	margin-left: .5em;
	border-left: silver 5px solid;
	border-bottom: silver 1px solid;
	padding: .25em;
	padding-left: 1em;
	padding-right: 1em;
	font-style: italic;
	background-color: ivory;
}

.left {
	float:left;
	margin-right: .5em;
}

.right {
	float:right;
}

.shadow {
	box-shadow: 3px 3px 6px 3px #CCC;
}
.round {
	border-radius: 5px;
}

div.consoleDisplay {
	margin:auto;
	border:1px solid gray;
	background-color:ivory;
	text-align:left;
	color:navy;
	font-size: 1.1em;
	font-family: Consolas,Courier,"courier new",monospace;
	font-weight: bold;
	padding: .5em;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #EEE;
}

tbody {
	font-size: 1em;
}

/** css3 workarounds for shadows */
table.options {
	width: 90%;
	margin: 1em auto;
	border: 1px solid gray;
	border-radius: 5px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 7px 7px 3px #CCC;
	background-color: aliceblue;
	padding: 3px;
}

table[class=options] td {
	text-align: center;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	padding: 2px;
	font-size: 115%;
}
table[class=options]icons td {
	text-align: left !important;
	font-family: body !important;
}
table[class=options] td.desc {
    font-family: body;
	font-size: 1em;
	text-align: left;
	padding-left: 1em;
}

table[class=options] th {
    font-size: 115%;
    color: #06A;
    font-family: Consolas, monospace;
	font-weight: bold;
    padding: 2px;
	padding-left:1em;
	border-bottom: 1px dashed navy;
	text-align: center;
	background-color: aliceblue;
}

table[class=trace] th, table[class=trace] td {
	border-right:1px solid gray;
	border-bottom:1px solid gray;
    font-size: 105%;
    color: navy;
    font-family: Consolas,"Courier New",Courier,monospace;
    padding: 2px;
	padding-left:1em;

}

table.trace {
	width: 500px;
	margin: auto;
	border: 1px silver dashed;
}

table[class=traceace] td > input {
	border:1px dashed silver;
	background-color: lightyellow;
	font-family: Consolas,"Courier New",Courier,monospace;
	font-size:1em;
	font-weight:bold;
	text-align:center;
	color: forestgreen;
}

table[class=icons] th, table[class=icons] td {
	border-right:1px solid gray;
	border-bottom:1px solid gray;
    font-size: 105%;
    color: indigo;
    font-family: body;
    padding: 2px;
	padding-left:1em;
}

table.icons {
	width: 500px;
	margin: auto;
	border: 1px silver dashed;
}

table.keywords {
	width: 100%;
	margin: auto;
	border: 1px navy dashed;
}
table[class=keywords] td {
	border-right:1px solid gray;
	border-bottom:1px solid gray;
    font-size: 80%;
    color: navy;
    font-family: Consolas,"Courier New",Courier,monospace;
    padding: 2px;
	padding-left:1em;
	vertical-align: top;
	width: 25%;
}

details summary {
	font-style: italic;
	background: aliceblue;
}

table[class=array] td {
	font-family: consolas;
	font-size: 150%;
	text-align: center;
	color: white;
	background: black;
	padding: 5px;
}

table[class=array] tr.b > td {
	background: aliceblue;
	color:navy;
}
table[class=array] td.e {
	background: white;
}
table[class=array] tfoot td {
	background: white;
	color:black;
}
table[class=array] th {
	font-family: consolas;
	font-size: 80%;
	text-align: center;
	color: black;
	background: white;
	padding:0;
}

details {
	height=500px;
}

pre.pcode {
	background-image: url(images/chalkboard.jpg);
	background-repeat: no-repeat;
	width:90%;
	font-family: 'Pangolin' !important;
	font-weight: normal;
	font-style: italic;
	color:white;
	font-size:1.2em;
	margin-left:0;
	padding: 1em;
	padding-left: 2em;
	overflow:hidden;
	box-shadow: 3px 3px 6px 3px #CCC;
	border-radius: 5px;
	line-height: 123%;
}

pre.pcode em {
	color:lightgreen;
	border-bottom:1px dotted silver;
	margin-bottom:1em;
}

pre.pcode i {
	color:yellow;
}

b.r {
	color:#DD0000;
}

/* For the index pages for Canvas */
ul.navlist{
	width:100%;
	list-style-type: none;
	margin: 0;
	margin-left: 3em;
	overflow: hidden;
	padding: 0;
	padding-top: 3px;
	display: inline-block;
	border-top: 1px dotted silver;
}
ul.navlist li {
	font-family: serif;
	font-size: 12pt;
	text-decoration: none;
	display: inline;
}
iframe {
	border: none;
}
.subtitle {
	font-family: georgia, serif;
	font-style: italic;
	font-size: 10pt;
	padding-right: 2em;
}
.link {
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.2em 0.56em;
  border-radius: 0.56em;
  position: relative;
  font-size: 75%;
  margin-left: 1em;
  margin-right: 1em;
  user-select: none;
  display: inline-block;
  text-decoration: none;
}
.active {
	background-color: forestgreen;
	font-weight: bold;
}
.inactive {
	background-color: gray;
	font-weight: normal;
}
