#page
{
	max-width: 65ch;
    margin-left: 40px;
    margin-right: 20px;
	margin-bottom: 40px;
    text-align:left;
    font-size: 1.1em;;
	font-family: georgia, serif;
	line-height: 133%;
}

h1, h2 {
	color: #0066AA;
}
h1 {
	padding-bottom: 4px;
	border-bottom: 1px solid silver;
}

p.firstLine:first-line {
	margin-top: 0px;
	font-weight: bold;
}
pre, tt, kbd, code
{
	font-family: code, consolas, monospace !important;
	font-weight: bold;
}

ul li {
	margin-bottom: .5em;
}

kbd { font-weight: bold; color: darkslategray;}
tt { font-weight: bold; color: navy;}

img.right
{
    margin-left: 15px;
    margin-right: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

img.width-64 { width: 64px; }
img.width-32 { width: 32px; }
img.width-25 { width: 25%; }
img.width-30 { width: 30%; }
img.width-40 { width: 40%; }
img.width-50 { width: 50%; }
img.width-60 { width: 60%; }
img.width-75 { width: 75%; }
img.width-80 { width: 80%; }
img.width-90 { width: 90%; }
img.width-100 {width: 100%; }

mark {
	font-weight: bold;
}

div.highlight {
	padding: .5em 2em .5em 2em;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px #CCC;
	background-color: honeydew;
	font-style: italic;
	font-size: 90%;
}

img.inlineCenter {
    margin:1em;
	margin-left:auto;
	margin-right:auto;
    display:block;
    clear:both;
}

code.language-cpp {
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 0;
	margin-top:0;
	margin-bottom:0;
}
pre.language-cpp {
	width: 90%;
	margin-left: 0;
	overflow:hidden;
	box-shadow: 3px 3px 6px 3px #CCC;
	border-radius: 5px;
	background-color:ivory;
}
pre.line-numbers {
	width: 83%;
}

div.bug {
	margin-top: 1em;
	border: 1px dotted silver;
	background-image: url(images/bug-icon.png);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 10px 10px;
	z-index: 200;
	max-width: 80%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 5px #CCC;
	padding-left: 3em;
	padding-right: 2em;
}

a {
	color: gray;
	text-decoration: none;
	border-bottom: 1px dotted silver;
}

a:hover {
	color: darkred;
}
