img {
    display:block;
    margin:auto;
}
#attribution {
    margin: auto;
    padding: .5em 2em;
    position: relative;
    top: 2em;
    border-radius: 10px;
    width: 90%;
    font-size: .9em;
    box-shadow: 4px 4px 8px 8px #CCC;
    background-color: white;
    color: gray;
}
.question {
    background-color:white;
    padding: 1em;
    border: 1px solid grey;
    width: 100%;
    box-shadow: 3px 3px 6px #CCC;
    margin-left: -1em;
}
.question th {
    font-weight: bold;
    font-style: italic;
    color: forestgreen;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid forestgreen;
}

.question td {
    padding-top: .5em;
}

#identify tr td {
    font-size: .8em;
    font-style: italic;
    text-align: right;
    padding-right: 2em;
}
#identify tr td input {
    font-size: 20pt;
    width: 100%;
}

.popup {
    margin:auto;
    width: 75%;
    z-index: 2000;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-family: georgia, serif;
    color: navy;
    padding: .5em;
    text-align: center;
    background-color:white;
    border: 1px solid gray;
    box-shadow: 4px 4px 8px #CCC;
    border-bottom-right-radius: 10px;

}
